{% extends base.html %}

{% block title %}Detalhes da Auditoria{% endblock %}

{% block content %}
    <p></p>

    <h1>Detalhes da Auditoria</h1>
    
    <ul class="list-group">
        <p class="list-group-item list-group-item-secondary"><strong>Data:</strong> {{ auditoria.data }}</p>
        <p class="list-group-item"><strong>Responsável:</strong> {{ auditoria.responsavel }}</p>
        <p class="list-group-item"><strong>Departamento:</strong> {{ auditoria.departamento }}</p>
        <p class="list-group-item"><strong>Observação:</strong> {{ auditoria.observacao }}</p>
    </ul>

    <a class="btn btn-success" href="{% url 'atualizar_auditoria' auditoria.pk %}">Editar Auditoria</a>
    <a class="btn btn-danger" href="{% url 'listar_auditorias' %}">Voltar</a>
    
{% endblock %}