{% extends 'base.html' %}

{% block title %}Lista de Auditorias{% endblock %}

{% block content %}
    
    <p></p>
    <a class="btn btn-success" href="{% url 'adicionar_auditoria' %}">Adicionar Auditoria</a>
    <p></p>

    <h2 class="mb-4">Lista de Auditorias</h2>

    <ul class="list-group">
        {% for auditoria in page_obj %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>{{ auditoria.data }}</strong> - {{ auditoria.bem.nome }}
                </div>
                <div>
                    <a class="btn btn-secondary" href="{% url 'detalhes_auditoria' auditoria.pk %}">Detalhes</a>
                    <a class="btn btn-secondary" href="{% url 'atualizar_auditoria' auditoria.pk %}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'excluir_auditoria' auditoria.pk %}" onclick="return confirm('Tem certeza que deseja excluir esta auditoria?');">Excluir</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    
    <!-- Links de paginação -->
    <div class="pagination align-items-center mt-4 d-flex justify-content-center">
        <span class="step-links text-center">
            {% if page_obj.has_previous %}
                <a class="btn btn-secondary btn-sm" href="?page=1">Primeira</a>
                <a class="btn btn-secondary btn-sm" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}

            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a class="btn btn-secondary btn-sm" href="?page={{ page_obj.next_page_number }}">Próxima</a>
                <a class="btn btn-secondary btn-sm" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
            {% endif %}
        </span>
    </div>

{% endblock %}