{% extends base.html %}

{% block title %}Detalhes do Departamento{% endblock %}

{% block content %}
    <p></p>
    
    <h2>Detalhes do Departamento</h2>
    
    <ul class="list-group">
        <p class="list-group-item list-group-item-secondary"><strong>Nome:</strong> {{ departamento.nome }}</p>
        <p class="list-group-item"><strong>Responsável:</strong> {{ departamento.responsavel }}</p>
        <p class="list-group-item"><strong>Telefone:</strong> {{ departamento.telefone }}</p>
    </ul>

    <a class="btn btn-success" href="{% url 'atualizar_departamento' departamento.pk %}">Editar Departamento</a>
    <a class="btn btn-danger" href="{% url 'listar_departamentos' %}">Voltar</a>

{% endblock %}
